
@tailwind base;
@tailwind components;
@tailwind utilities;


.img {
    content: url('/Line 2.svg');
}
.button:hover .img{
    content: url('/Line 1.svg');
}

.option:hover > .option-li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #224F34;
    left: 0;
    bottom: 0;
}

.logo {
    content: url('/Rivo.png');
}

.menu-mobile {
    content: url('/menu-mobile.svg');
}

.basket {
    content: url('/Group 1.png');
}

.menu_open {
    content: url('/menu_open.svg');
}

.model {
    content: url('/Mask group.png');
}

.points {
    content: url('/Group 38.svg');
}

.product1{
    content: url('/1.png');
}

.star {
    content: url('/fi-ss-star.png');
}

.product2{
    content: url('/2.png');
}

.product3{
    content: url('/3.png');
}